{% extends "learning_logs/base.html" %}

{% block header %}
<div class="jumbotron">
  <h1>Monitor learning progress</h1>
</div>
{% endblock header %}

{% block content %}
<h2>
  <a href="{% url 'users:register' %}">Register account</a>
  to start using the Learning Log application and view a list of learned topics
</h2>
<h2>
  If you learn something new, add a post in the appropriate topic with a summary of what you have just learned.
</h2>
<!--  <p>Learning Log help in monitor progress in learning.</p>-->
{% endblock content %}



